<v-panel :middle="" :center="" width="95%">
    <v-vertical-layout :bottom="" :center="" margin="true" spacing="true" id="rootContainer">
        <v-vertical-layout spacing="true" width="99%" id="contentLayout">
            <v-horizontal-layout :middle="" width="100%" height="100%" :center="" id="gridContainer">
            </v-horizontal-layout>

            <v-horizontal-layout spacing="true" width-full="true" :middle="" :center="" id="bottomContainer">
                <v-text-field caption="Component name:"></v-text-field>
                <v-button plain-text="" :bottom="" :center="" id="btnAddModule">
                    Add entry
                </v-button>


                <v-label size-auto="true" plain-text="" id="lblFpTotal">
                    100 FP
                </v-label>
            </v-horizontal-layout>
        </v-vertical-layout>
    </v-vertical-layout>
</v-panel>

