<!DOCTYPE html>
<html>
<head>

</head>
<body>
<v-panel caption="OfflineOE" description="OfflineOE" :center="" style="">
    <v-vertical-layout>
        <v-horizontal-layout spacing="true" width-full="true" margin="true">
            <v-text-field _id="txtModuleName" :center=""></v-text-field>
            <v-button plain-text="" :middle="" :center="" id="btnAddModule">
                Add component
            </v-button>
            <v-label size-auto="true" plain-text="" :middle="" :center="" id="lblTotalEffort">
                Total: 100 PT
            </v-label>
        </v-horizontal-layout>
        <v-vertical-layout id="componentContainer">


        </v-vertical-layout>

    </v-vertical-layout>
</v-panel>
</body>
</html>